In [3]:
from aqueduct import Client, op

c = Client("7KF10IORJCU2VAP3E4G69MXDN5YZ8HBQ")

In [3]:
db = c.integration("aqueduct_demo")
table = db.sql("Select * from hotel_reviews;")

In [6]:
table.get().to_json("/Users/kennethxu/work/aqueduct/temp")

In [7]:
import pandas as pd
pd.read_json("/Users/kennethxu/work/aqueduct/temp")

,hotel_name,review_date,reviewer_nationality,review
0,H10 Itaca,2017-08-03,Australia,Damaged bathroom shower screen sealant and ti...
1,De Vere Devonport House,2016-03-28,United Kingdom,No Negative The location and the hotel was ver...
2,Ramada Plaza Milano,2016-05-15,Kosovo,No Negative Im a frequent traveler i visited m...
3,Aloft London Excel,2016-11-05,Canada,Only tepid water for morning shower They said ...
4,The Student Hotel Amsterdam City,2016-07-31,Australia,No Negative The hotel had free gym table tenni...
...,...,...,...,...
95,The Chesterfield Mayfair,2015-08-25,Denmark,Bad Reading light And light in bathNo Positive
96,Hotel V Nesplein,2015-08-27,Turkey,Nothing except the construction going on the s...
97,Le Parisis Paris Tour Eiffel,2015-10-20,Australia,When we arrived we had to bring our own baggag...
98,NH Amsterdam Museum Quarter,2016-01-26,Belgium,No stairs even to go the first floor Restaura...
99,Barcel Raval,2017-07-07,United Kingdom,Air conditioning a little zealous Nice atmosp...